/* pre loader */
#loader{
 z-index: 99999;
 display: flex;
 justify-content: center;
 align-items: center;
 background: linear-gradient(rgba(1, 1, 1, 0.616),rgba(1, 1, 1, 0.582)), url('../img/bg2.jpg');
 background-size: cover;
 background-repeat: no-repeat;
 margin: 0;
 padding: 0;
 overflow: hidden;
 position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
#loader i{
 color: yellow;
 text-shadow: 2px 4px 5px red;
 margin: 30px;
 font-size: 30px;
}



/* ======== */


body{
	overflow: hidden;
}

h3{
 color: black;
 text-shadow: 1px 4px 3px gray;
}

/* =============
=header section=
================*/

.all{
 background: rgba(97, 92, 92, 0.144);
 padding-bottom: 50px;
	margin-bottom: 50px;
	overflow: hidden;
}

#share{
 display: flex;
 justify-content: space-between !important;
 list-style: none;
}
.navbar i{
 padding-left: 10px;
}
.head-item{
 background: rgba(235, 232, 232, 0.966);
 box-shadow:1px 2px 4px gray;
}
.head-item a{
 color: black;
}
.linked a{
 color: black;
}

.text{
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 font-style: italic;
 text-align: center;
 width: 100%;
 margin: 30px;
}
.text h1{
 color: rgb(37, 36, 36);
 text-shadow:1px 3px 3px gray;
}
.text i{
 color:white;
 font-size:40px;
 text-shadow: 1px 5px 5px black;
 margin-top:28px;
}
.wrap{
 text-align: center;
 position: relative;
 left:180px;
 margin-top: 20px;
}
.wrap img{
 width:500px;
 width: 500px;
}

/* ===========
===career=== */

.work{
 background: url('../img/work.gif');
 height:100%;
 width:100%;
 background-repeat: no-repeat;
 background-size: cover;
}
.edit{
 margin-top:100px;
 margin-bottom:200px;
 display: flex;
 align-items: center;
 justify-content: center;
 height: 390px;
}

/* fitness */
.fitness{
 text-align: center;
}
.fitness .left{
 background: url('../img/frog.gif');
 height:400px;
 width:100%;
 background-repeat: no-repeat;
 background-size: contain;
}
.fitness .right{
 background: url('../img/dump.gif');
 height:400px;
 width:100%;
 background-repeat: no-repeat;
 background-size: contain;
}


/* ==============
===carousel 3d===
================ */

.shift{
 display: flex;
 justify-content: center;
 align-items: center;
 background:linear-gradient(rgba(13, 13, 14, 0.838), rgba(0, 0, 0, 0.853)), url('../img/bg.jpg');
 background-size: cover;
 background-repeat: no-repeat;
 height: 600px;
	margin-bottom: 150px;
	overflow: hidden;
}

.container2 {
 width: 250px;
 height: 200px;
 position: relative;
 perspective: 1000px;
 margin-bottom: 100px;
 margin-top: 100px;
}

.carousel2 {
 height: 100%;
 width: 80%;
 transform-style: preserve-3d;
 transition: transform 1s;
}

.item {
 display: block;
 position: absolute;
 width:200px;
 height:130px;
 line-height:100px;
 font-size: 2em;
 text-align: center;
 color: #FFF;
 border-radius: 10px;
}

.a {
 transform: rotateY(0deg) translateZ(250px);
 background: url('../img/image_1.jpg');
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
 width:200px;
 height:200px;
 margin:0;
}
.b {
 transform: rotateY(60deg) translateZ(250px);
 background: url('../img/image_2.jpg');
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
 width:200px;
 height:200px;
 margin:0;
}
.c {
 transform: rotateY(120deg) translateZ(250px);
 background: url('../img/image_3.jpg');
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
 width:200px;
 height:200px;
 margin:0;
}
.d {
 transform: rotateY(180deg) translateZ(250px);
 background: url('../img/image_4.jpg');
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
 width:200px;
 height:200px;
 margin:0;
}
.e {
 transform: rotateY(240deg) translateZ(250px);
 background: url('../img/image_1.jpg');
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
 width:200px;
 height:200px;
 margin:0;
} 
.f {
 transform: rotateY(300deg) translateZ(250px);
 background:url('../img/showcase.jpg');
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
 width:200px;
 height:200px;
 margin:0;
}
.but{
 display: flex;
 justify-content: space-between;
 margin-top:70px;
 margin-left: -50px;
 width: 300px;
}
.next, .prev , .above, .below {
 color: white;
 padding: 4px;
 font-size:30px;
 cursor: pointer;
 text-shadow: 1px 2px 4px rgb(4, 247, 105);
}
.next:hover, .prev:hover, .above:hover, .below:hover { 
 color:rgb(59, 56, 56); 
}
.next:active, .prev:active, .above:active, .below:active {
 box-shadow: 0 1px 0 #999;
}


/* Team info */

.team{
	text-align: center;
	margin: auto;
 margin-bottom: 50px;
}
.team .col-md-4 div{
 border: 1px solid gray;
 padding-top:70px;
	padding-bottom:70px;
	text-align: center;
	margin: auto;
 border-radius:20px;
	color: white;
	width: 80%;
 background: linear-gradient(rgba(8, 8, 8, 0.692),rgba(12, 12, 12, 0.692)),url('../img/bg2.jpg');
 background-size: cover;
 background-repeat: no-repeat;
}
.team img{
 border-radius:50%;
 height: 150px;
 width:120px;
}
.team h4{
	margin-bottom: 10px;
	color: black;
	text-shadow: 1px 3px 4px gray;
}
.team h5{
 margin-top:20px;
 margin-bottom:10px;
}
.team hr{
	width: 50px;
	border: 3px solid black;
	box-shadow: 1px 5px 4px gray;
	margin-bottom: 70px;
}
.team em{
 color: rgb(148, 143, 143);
}
.team .give{
 transition: ease-in-out 0.6s;
}
.give:hover{
 transform: scale(1.1);
}
.team i{
 margin: 10px;
 color: gray;
}
.team i:hover{
 cursor: pointer;
 color: white;
}

/* footer */
footer{
 text-align: center;
 padding:20px;
 color: gray;
 background:black;
}